*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html,body {
    height: 100%;
    width: 100%;
    background-color: black;
}

#main {
    width: 100%;
    height: 12%;
    background-color: yellow;
    display: flex;
}

.logo {
    width: 30%;
    height: 100%;
    background-color: yellow;
    display: flex;

}

.nav {
    width: 68%;
    height: 100%;
    background-color: yellow;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
.logo img{
    width: 25%;
    
}
.nav a{
    margin: 10px;
    text-decoration: none;
    padding: 6px 18px 5px 18px;
    color: black;
    font-weight: bold;
}

.nav a:hover {
    background-color: black;
    color: white;
    transform: scale(1.2);
    transition: 1s;
}


.logo h1{
    padding-top: 15px;
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    color: red;
}
