h2{
    color: white;
    text-align: center;
}
#top{
    background-color:rgb(0, 56, 105);
    
}
#head{
    background-color: rgb(2, 2, 100);
    color: white;
    
}
h1{
    background-color: rgba(137, 43, 226, 0.438);
    height: 50px;
}
#FFM{
    background-color:rgb(0, 56, 105) ;
    color: white;
}
#Contact{
    background-color: white;
}
a:link {
    color: white;
    border: 1;
}
a:visited{
    color: white;
}
#bar:hover{
    background-color: blue;
}
#FFM:hover{
    background-color: blue;
}